<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">POS</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <% if(user.role == 'Admin'){ %>
    <li class="nav-item <%= activeRoute === 'dashboard' ? 'active' : '' %>">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <% } %>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Master
    </div>

    <!-- Nav Item - Utilities Collapse Menu -->
    <% if(user.role == 'Admin'){ %>
    <li class="nav-item <%= activeRoute === 'goodsUtility' ? 'active' : '' %>">
        <a class="nav-link collapsed with-arrow" href="#" data-bs-toggle="collapse"
            data-bs-target="#collapseUtilities" aria-expanded="<%= activeRoute === 'goodsUtility' ? 'true' : 'false' %>" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Goods Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse <%= activeRoute === 'goodsUtility' ? 'show' : '' %>" aria-labelledby="headingUtilities"
            data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item <%= activeUtil === 'goods' ? 'active' : '' %>" href="/goods">Goods</a>
                <a class="collapse-item <%= activeUtil === 'units' ? 'active' : '' %>" href="/units">Units</a>
            </div>
        </div>
    </li>
    <% } %>

    <!-- Nav Item - Suppliers -->
    <li class="nav-item <%= activeRoute === 'suppliers' ? 'active' : '' %>">
        <a class="nav-link" href="/suppliers">
            <i class="fa-solid fa-link"></i>
            <span>Suppliers</span></a>
    </li>

    <!-- Nav Item - Customer -->
    <li class="nav-item <%= activeRoute === 'customers' ? 'active' : '' %>">
        <a class="nav-link" href="/customers">
            <i class="fa-solid fa-users"></i>
            <span>Customer</span></a>
    </li>

    <!-- Nav Item - Users -->
    <% if(user.role == 'Admin'){ %>
    <li class="nav-item <%= activeRoute === 'users' ? 'active' : '' %>">
        <a class="nav-link" href="/users">
            <i class="fa-solid fa-user"></i>
            <span>Users</span></a>
    </li>
    <% } %>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Transactions
    </div>

    <!-- Nav Item - Purchases -->
    <li class="nav-item <%= activeRoute === 'purchases' ? 'active' : '' %>">
        <a class="nav-link" href="/purchases">
            <i class="fa-solid fa-table"></i>
            <span>Purchases</span></a>
    </li>

    <!-- Nav Item - Sales -->
    <li class="nav-item <%= activeRoute === 'sales' ? 'active' : '' %>">
        <a class="nav-link" href="/sales">
            <i class="fa-solid fa-chart-area"></i>
            <span>Sales</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

