<%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
        <%- include('../partials/topbar') %>
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Sales</h1>

                <!-- Sales Data -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h3 class="m-0 font-weight-bold">Transaction</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" id="saleForm">
                            <div class="form-group row mb-4">
                                <div class="form-group col-md-4">
                                    <label for="invoice">Invoice</label>
                                    <input type="text" class="form-control" id="invoice" name="invoice"
                                        value="<%= inv.invoice %>" readonly>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="time">Time</label>
                                    <input type="text" class="form-control" id="time" name="time" value="<%= time %>"
                                        readonly>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="operator">Operator</label>
                                    <input type="hidden" class="form-control" id="operatorid" name="operatorid"
                                        value="<%= user.id %>">
                                    <input type="text" class="form-control" id="operator" name="operator"
                                        value="<%= user.name %>" readonly>
                                </div>
                            </div>
                            <hr style="border-top: 1px solid #a0a0a0;" class="mb-5">
                            <div class="form-group row mb-2">
                                <div class="form-group col-md-4">
                                    <label for="barcode">Goods Barcode</label>
                                    <select class="form-control" id="barcode" name="barcode">
                                        <% goods.forEach(function(barc, index) { %>
                                            <option value="<%= barc.barcode %>" data-name="<%= barc.name %>"
                                                data-stock="<%= barc.stock %>"
                                                data-sellingprice="<%= barc.sellingprice %>">
                                                <%= barc.barcode+' - '+barc.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="goodsName">Goods Name</label>
                                    <input type="text" class="form-control" id="goodsName" name="goodsName" readonly>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="stock">Stock</label>
                                    <input type="text" class="form-control" id="stock" name="stock" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="form-group col-md-4">
                                    <label for="sellingPrice">Selling Price</label>
                                    <input type="text" class="form-control" id="sellingPrice" name="sellingPrice" readonly>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="qty">Qty</label>
                                    <input type="number" class="form-control" id="qty" name="qty" step="1" min="0">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="totalPrice">Total Price</label>
                                    <input type="text" class="form-control" id="totalPrice" name="totalPrice" readonly>
                                </div>
                            </div>
                        <a href="#" id="addSaleItem" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            <span class="text">Add</span>
                        </a>
                        <hr style="border-top: 1px solid #a0a0a0;" class="mt-5">
                        <div class="table-responsive">
                            <table class="table table-striped" id="saleItemTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Barcode</th>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Total Price</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="saleItemsTableBody">
                                    <!--Use script to fill table body-->
                                </tbody>
                            </table>
                        </div>
                    
                    <div class="card-footer py-3">
                        <div class="form-group row mb-3">
                            <label for="totalSummary" class="col-sm-2 col-form-label">Total Summary</label>
                            <div class="col-sm-10">
                                <input type="hidden" id="totalSummaryActual" name="totalSummaryActual">
                                <input type="text" class="form-control" id="totalSummaryDisplay" name="totalSummaryDisplay" readonly>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="pay" class="col-sm-2 col-form-label">Pay</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="pay" name="pay">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="change" class="col-sm-2 col-form-label">Change</label>
                            <div class="col-sm-10">
                                <input type="hidden" id="changeActual" name="changeActual">
                                <input type="text" class="form-control" id="changeDisplay" name="changeDisplay" readonly>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="customer" class="col-sm-2 col-form-label">Customer</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="customer" name="customer">
                                    <% customers.forEach(function(customer, index) { %>
                                        <option value="<%= customer.customerid %>" >
                                            <%= customer.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                        <button type="submit" form="saleForm" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            <span class="text">
                                Finish
                            </span>
                        </button>
                        <a href="/sales" class="btn btn-warning btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fa-solid fa-arrow-left"></i>
                            </span>
                            <span class="text">
                                Back
                            </span>
                        </a>
                    </div>
                        </form>
                    </div>
                </div>

            </div>

            <script>
                //Initialization
                $(document).ready(function () {
                    const invoiceId = '<%= inv.invoice %>'
                    const customerId = '<%= inv.customer %>' || 1
                    fetchSaleItems(invoiceId);
                    $('#customer').val(customerId);
                    $('#barcode').trigger('change');
                })

                //Update table content
                function fetchSaleItems(invoiceId) {
                    $.get(`/sales/showSaleItem/${invoiceId}`, function(data) {
                        const saleItems = data;
                        saleItemsTable(saleItems);  
                        updateTotalSummary(saleItems);  
                        updateChange()
                    })
                    .fail(function(err) {
                        console.log('Error fetching sale items:', err);
                    });
                }

                //Goods Selection
                $('#barcode').on('change', function () {
                    const selectedOption = $(this).find('option:selected');
                    const goodsName = selectedOption.data('name'); 
                    const stock = selectedOption.data('stock'); 
                    const sellingPrice = selectedOption.data('sellingprice'); 
                    const totalPrice = formatCurrency($('#qty').val() * sellingPrice);

                    $('#goodsName').val(goodsName); $('#stock').val(stock);
                    $('#sellingPrice').val(sellingPrice);
                    $('#totalPrice').val(totalPrice)
                }); 
                    
                //Quantity input
                $('#qty').on('input change',
                    function () {
                        const sellingPrice = $('#barcode').find('option:selected').data('sellingprice');
                        const totalPrice = formatCurrency($(this).val() * sellingPrice);
                        $('#totalPrice').val(totalPrice);
                    });

                //Pay Input
                $('#pay').on('input change',
                    function () {
                        updateChange()
                    });
                

                $('#addSaleItem').on('click', function (e) {
                    e.preventDefault(); 
                    const invoice = $('#invoice').val(); 
                    const barcode = $('#barcode').val(); 
                    const qty = $('#qty').val(); 
                    const sellingPrice = $('#sellingPrice').val(); 
                    const data = {
                                invoice: invoice, 
                                barcode: barcode, 
                                qty: qty, 
                                sellingPrice: sellingPrice
                            };
                    $.ajax({
                        url: '/sales/addSaleItem', 
                        type: 'POST', 
                        data: JSON.stringify(data), 
                        contentType: 'application/json', 
                        success:
                            function (response) {
                                if (response.success) {
                                    saleItemsTable(response.saleItems);
                                    updateTotalSummary(response.saleItems);
                                    updateChange();
                                    $('#qty').val('');
                                    $('#barcode').prop('selectedIndex', 0).trigger('change');
                                } else {
                                    console.log('Failed to add item:', response.message);
                                }
                            }, 
                        error:
                            function (error) { console.log(error); }
                    });
                });
                
                function saleItemsTable(saleItems) {
                    $('#saleItemsTableBody').empty(); 
                        saleItems.forEach((item,index) => {
                        const formattedSellingPrice = formatCurrency(item.sellingprice);
                        const formattedTotalPrice = formatCurrency(item.totalprice);

                        $('#saleItemsTableBody').append(`
                            <tr>
                                <td>${index + 1}</td>
                                <td>${item.barcode}</td>
                                <td>${item.name}</td>
                                <td>${item.quantity}</td>
                                <td>${formattedSellingPrice}</td>
                                <td>${formattedTotalPrice}</td>
                                <td>${deleteButton(item.id)}</td>
                            </tr>
                        `);
                    });
                }

                function updateTotalSummary(saleItems) {
                    const totalSummary = saleItems.reduce((sum, item) => sum + parseFloat(item.totalprice), 0);
                    const pay = '<%= inv.pay %>'
                    const change = '<%= inv.change %>'
                    $('#totalSummaryActual').val((totalSummary));
                    $('#totalSummaryDisplay').val(formatCurrency(totalSummary));
                    $('#pay').val(pay);
                    $('#changeActual').val(change);
                    $('#changeDisplay').val(formatCurrency(change))
                }

                function updateChange(){
                    const pay = $('#pay').val()
                    const changes = pay - $('#totalSummaryActual').val()
                        $('#changeActual').val(changes)
                        $('#changeDisplay').val(formatCurrency(changes))
                }

                function formatCurrency(amount) {
                    let newFormat = '';
                    if (amount) {
                        newFormat = 'Rp ' + parseFloat(amount).toLocaleString('id-ID', {
                            minimumFractionDigits: 2, maximumFractionDigits: 2
                        });
                    }
                    return newFormat
                }

                function deleteButton(id){
                    return `
                <a href="#" class="btn btn-danger btn-circle"
                data-bs-toggle="modal" data-bs-target="#deleteSaleItemModal-${id}">
                    <i class="fas fa-trash"></i>
                </a>

                <!-- Delete Sale Item Modal-->
                <div class="modal fade" id="deleteSaleItemModal-${id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                <button type="button" class="btn-close" style="font-size: 1.5rem; background: none; border: none;"
                                    data-bs-dismiss="modal" aria-label="Close">&times;</button>
                            </div>
                            <div class="modal-body">Are you sure you want delete it?</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">No</button>
                                <a class="btn btn-primary" onclick="removeSaleItem('${id}')">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                `;
                }

                function removeSaleItem(id) {
                    $.ajax({
                        url: `/sales/item/delete/${id}`, 
                        type: 'GET', 
                        success: function() {
                            const modalElement = $(`#deleteSaleItemModal-${id}`);
                            const modalInstance = bootstrap.Modal.getInstance(modalElement[0]);
                            modalInstance.hide();
                            
                            const invoiceId = '<%= inv.invoice %>'
                            fetchSaleItems(invoiceId);                            
                        },
                        error: function(err) {
                            console.log('Error:', err); 
                        }
                    });
                }

            </script>

<!-- /.container-fluid -->
<%- include('../partials/footer') %>